body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  height: 100%;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.login {
  max-width: 24rem;
  margin-top: 144px;
  padding: 32px;
  border: 1px solid #DDD;
  border-radius: 6px;
  box-shadow: 0 0 6px lightgrey;
}

input[type="text"] {
  border: 0px;
  border-bottom: 1px solid #AAA;
  border-radius: 0px;
}

.submit-btn {
  width: 50% !important;
}

.submit-btn:disabled, .submit-btn[disabled] {
  cursor: not-allowed;
}

.text-error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.left-navbar {
  height: 100vh;
  position: fixed !important;
  background-color: #CCC;
}

.right-content {
  margin-left: 25%;
}

.header {
  background-color: midnightblue;
  color: white;
  text-align: center;
  padding: 32px;
  margin-right: -15px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-rekening {
  font-size: 14px;
}

.avatar-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
}

.avatar {
  height: auto;
  width: 100%;
}

.balance-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 30px;
}

.balance-nominal {
  font-size: 32px;
  font-weight: bold;
  color: midnightblue
}

.icon-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  padding: 18px;
  display: inline-block;
  box-shadow: 0 0 10px lightgrey;
  cursor: pointer;
  background-color: white;
}

.action-group {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.action-group .active {
  background-color: midnightblue;
}

.icon {
  height: auto;
  width: 100%;
}

.icon-title {
  margin-bottom: .5rem;
  font-size: 18px;
  font-weight: bold;
}

.badge {
  height: 12px;
  width: 12px;
  border-radius: 50% !important;
  margin-right: 6px;
}